:host {
    display: block;
    width: 20%;
    font-family: "Comic Sans MS";
}

.notification {
    height: 150px;
    display: flex;
}

.notification.success {
    background-color: forestgreen;
}

.notification.error {
    background-color: indianred;
}

.container-icon {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-message {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message {
    color: white;
    font-size: 1.2rem;
}

img {
    width: 50%;
    height: 50%;
}